/LAB2-Polymorphism/nbproject/private/
/LAB2-Abstraction/nbproject/private/
/LAB2-Interface/nbproject/private/
/LAB2-Inheritance/nbproject/private/
/LAB2-Encapsulation/nbproject/private/
/LAB1-class-and-object/nbproject/private/
/LAB2-Polymorphism/build/
/LAB2-JAVAForm/nbproject/private/
/LAB2-JAVAForm/build/
/LAB2-JAVAForm/dist/
/LAB2-Pokemon/nbproject/private/
/LAB2-Pokemon/build/
/LAB2-Pokemon/dist/
/LAB3-ObjectArray/nbproject/private/
/LAB3-ObjectArray/build/