/LAB2-Polymorphism/nbproject/private/
/LAB2-Abstraction/nbproject/private/
/LAB2-Interface/nbproject/private/
/LAB2-Inheritance/nbproject/private/
/LAB2-Encapsulation/nbproject/private/
/LAB1-class-and-object/nbproject/private/
/LAB2-Polymorphism/build/